:root {
  --centa-color: #ff014f;
  --bg-color: #fff;
}

*::after,
*::before,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  background-color: #fff;
  color: #000;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.d-flex {
  display: flex;
}
.justify-content {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.gap-30 {
  gap: 30px;
}

.gap-20 {
  gap: 20px;
}

.align-item {
  align-items: center;
}

.top-header-color {
  color: #ffff;
  font-size: 13px;
}

.top-header-color-sm {
  color: #000;
  font-size: 13px;
}

.top-header-icon {
  color: red;
  font-size: 20px;
}

.menu-color {
  font-weight: 500;
  color: var(--centa-color);
  text-transform: uppercase;
}

.menu-color-desktop {
  font-weight: 400;
  color: var(--centa-color);
  text-transform: uppercase;
   font-family: "Poppins", sans-serif;
}

/* .menu-color-desktop li a:hover {
  color: var(--bg-color);
  transition: 0.8s;
  border-bottom: solid 2px var(--bg-color);
} */

.search-btn input {
  border: none;
  outline: none;
  text-align: right;
}

.m-2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.m-4 {
  margin-top: 30px;
  margin-bottom: 30px;
}
/* utilites */

.container {
  width: min(1180px, 100%);
  margin-inline: auto;
  padding-inline: 15px;
}

/* buttons */
.btn{
  font-family: inherit;
  font-size: 16px;
  color: var(--bg-color);
  line-height: 1.3;
  font-weight: 400;
  text-transform: capitalize;
  background-color: var(--centa-color);
  border-radius: 10px;
  padding: 8px 16px;
  margin: 0;
  border: none;
}