@import url(./reset.css);

/* css start */

.top-header-contain {
  background-color: #d90001;
  padding: 10px 0px;
}

.logo img {
  max-width: 50%;
}

.search-btn input::placeholder {
  color: var(--accent-color);
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.search-btn i {
  color: var(--accent-color);
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.shop-btn button {
  border-radius: 9px;
  background-color: var(--centa-color);
  width: 98px;
  color: #fff;
  height: 42px;
  display: flex;
  font-weight: 500;
  justify-content: center;
  outline: none;
  align-items: center;
  border: none;
  text-align: center;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.main-header-contain {
  padding: 19px 0px;
  position: sticky;
}

/* popup section */

.popup-overly {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content input {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  border: solid 2px var(--centa-color);
}

.popup-content input::placeholder {
  color: #000;
  font-size: 15px;
  font-weight: 500;
}

.close-button {
  position: absolute;
  top: 0px;
  right: 15px;
  font-size: 25px;
  cursor: pointer;
  border: none;
  color: var(--centa-color);
  background: none;
}

.popup-content {
  background: #fff;
  padding: 30px;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  position: relative;
}
/* banner sec */

.banner-sec-contain {
  position: relative;
}

.banner-sec-contain img {
  height: 550px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.banner-sec-contain::before {
  content: "";
  position: absolute;
  inset: 0;
  /* background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.77) 26%,
    rgba(87, 199, 133, 0) 50%
  ); */
  background-color: #0000008c;
}

.banner-hero-text {
  position: absolute;
  inset: 0;
}

.banner-hero-text > .container {
  display: flex;
  align-items: center;
  color: #fff;
  font-family: "Playfair Display", serif;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  height: 100%;
}

.banner-hero-text > .container h5 {
  font-weight: 500;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.banner-hero-text h2 {
  font-size: 48px;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  font-family: "Playfair Display", serif;
}

.order-btn-flex {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.last-account-part {
  display: flex;
  gap: 20px;
  align-items: center;
}

/* about us sec */

.about-us > .container h2 {
  font-size: 36px;
  font-weight: 700;
  color: var(--centa-color);
  text-align: center;
  margin-top: 20px;
}

.about-us-contain {
  background-color: var(--centa-color);
  display: flex;
  margin: 40px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px #ff000091;
}

.about-img {
  width: 50%;
}
.about-img img {
  height: 630px;
  width: 100%;
  border-radius: 0px 18px 18px 0px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.about-us-text {
  width: 50%;
  margin-top: 2%;
  padding: 25px;
}

.about-us-text h3 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  font-family: "Playfair Display", serif;
}

.about-us-text p {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  line-height: 1.8;
  /* margin-top: 15px; */
}

.point-main {
  margin: 20px 0 20px 0;
}

.about-us-inprotentpoint h5 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin: 20px 0 0 0;
}

.about-us-inprotentpoint P {
  font-size: 13px;
  margin: 10px 0 0 0;
}
/* our-team */

.shop > .container h2 {
  font-size: 36px;
  font-weight: 700;
  color: var(--centa-color);
  text-align: center;
  margin-top: 20px;
}

.shop > .container p {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  max-width: 50%;
  text-align: center;
  margin-inline: auto;
}

.product-card {
  background-color: var(--centa-color);
  border-radius: 20px;
  width: calc(25% - 20px);
  /* padding: 20px; */
  overflow: hidden;
}

.shop-img img {
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
}

.shop-img img:hover {
  transform: scale(1.1);
}

.shop-product {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.flaviour-sec {
  display: flex;
  gap: 12px;
}

.more-btn-shop a {
  border-radius: 9px;
  background-color: #000;
  width: 128px;
  color: #fff;
  height: 36px;
  display: flex;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin: 15px 0px 0px 0px;
}

.shop-product span {
  font-size: 14px;
  font-weight: 500;
  color: white;
}

.shop-product h3 {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}

.shop-product h6 {
  font-size: 12px;
  font-weight: 400;
  color: white;
}
.shop-product h4 {
  font-size: 11px;
  font-weight: 500;
  color: #fff;
}

/* gallery section */

.gallery-tittle h2 {
  font-size: 36px;
  font-weight: 700;
  color: var(--centa-color);
  text-align: center;
  margin-top: 20px;
}

.gallery-section p {
  font-size: 15px;
  text-align: center;
  font-weight: 500;
  color: #000;
  max-width: 50%;
  margin-inline: auto;
}


.gallery-img img {
  height: 300px;
  object-fit: cover;
}

.gallery-section h1 {
  text-align: center;
  margin-top: 20px;
  color: #333;
}

.gallery-block {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 40px;
}

.gallery-img {
  transition: transform 0.3s ease;
  background-color: #fff;
  height: 220px;
  overflow: hidden;
}

.gallery-block .gallery-img img {
  transition: transform 0.3s ease;
}
.gallery-img:hover img{
  transform: scale(1.05);
}

.gallery-block .gallery-img a {
  display: block;
  width: 100%;
  height: 100%;
}
.gallery-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
/* contact us */

.contact-us-sec {
  position: relative;
  background-image: url(../images/banner.jpg);
  margin: 50px 0px;
}

.contact-us-sec .inner-block {
  /* background-color: var(--bg-color); */
  padding: 50px;
}

.contact-us-sec .inner-block .tittle-block h2 {
  color: var(--centa-color);
  text-align: center;
  font-size: 36px;
  margin: 0px 0px 30px 0px;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

[class^="col-"] {
  /* Ensure width accounts for the gap */
  box-sizing: border-box;
}
.col-1 {
  width: calc(8.3333% - 30px * 11 / 12);
}
.col-2 {
  width: calc(16.6667% - 30px * 10 / 12);
}
.col-3 {
  width: calc(25% - 30px * 9 / 12);
}
.col-4 {
  width: calc(33.3333% - 30px * 8 / 12);
}
.col-5 {
  width: calc(41.6667% - 30px * 7 / 12);
}
.col-6 {
  width: calc(50% - 30px * 6 / 12);
}
.col-7 {
  width: calc(58.3333% - 30px * 5 / 12);
}
.col-8 {
  width: calc(66.6667% - 30px * 4 / 12);
}
.col-9 {
  width: calc(75% - 30px * 3 / 12);
}
.col-10 {
  width: calc(83.3333% - 30px * 2 / 12);
}
.col-11 {
  width: calc(91.6667% - 30px * 1 / 12);
}
.col-12 {
  width: 100%;
}

.contact-us-sec .inner-block .from-block .input-group label {
  display: block;
  margin: 10px 0px 10px 0px;
  color: #fff;
}

.contact-us-sec .inner-block .from-block .input-group .form-contorl {
  display: block;
  width: 100%;
  padding: 10px 10px;
  color: var(--centa-color);
  font-weight: 400;
  border: none;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}

.contact-us-sec .inner-block .from-block .input-group .form-contorl:focus {
  outline: none;
  border: 2px solid var(--centa-color);
}

.contact-us-sec
  .inner-block
  .from-block
  .input-group
  .form-contorl:focus:invalid {
  animation: shake 0.2s ease-in-out 0s 2;
  border: 2px solid var(--centa-color);
}

.contact-us-sec
  .inner-block
  .from-block
  .input-group
  .form-contorl:focus:valid {
  border: 2px solid green;
}

.contact-us-sec
  .inner-block
  .from-block
  .input-group
  .form-contorl::placeholder {
  color: var(--centa-color);
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}
.submit-btn-contact input {
  border-radius: 9px;
  background-color: var(--centa-color);
  width: 106px;
  color: #fff;
  height: 39px;
  display: flex;
  cursor: pointer;
  font-weight: 500;
  justify-content: center;
  border: none;
  align-items: center;
  text-align: center;
  margin: 18px 0px 18px 0px;
  font-family: "Montserrat", sans-serif;
}

.contact-us-sec .inner-block .map-block iframe {
  height: 440px;
  width: 100%;
  border-radius: 5PX;
}

.contact-us-sec .inner-block .map-block {
  width: 100%;
  height: 100%;
}

.d-flex-contact {
  display: flex;
  gap: 30px;
  background-color: #e8d7d73d;
  padding: 40px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
}

.tittle-block-from {
  color: #fff;
}
/* footer section */

.footer-section {
  background-color: var(--centa-color);
  padding: 50px 50px 20px 50px;
}
.fotter-inner {
  display: flex;
  justify-content: space-between;
}

.fotter-text-img {
  width: 40%;
}
.fotter-text-img a img {
  width: 24%;
}

.fotter-text span {
  color: #fff;
}

.fotter-text-img p {
  color: #fff;
  max-width: 80%;
  margin: 20px 0 0 0;
}

.fotter-text h5 {
  font-size: 18px;
  font-weight: 500;
  border-bottom: solid 2px #fff;
  padding-top: 10px;
  color: #fff;
}

.fotter-text ul {
  margin: 15px 0 0 0;
}

.fotter-text li a {
  font-size: 13px;
  line-height: 2;
  transition: 0.5s;
  color: #fff;
}

.footer-nav {
  border-top: solid 1px #fff;
  margin: 40px 0 0 0;
}
.footer-nav p {
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0 0;
}

/* mobile menu */

.mobile-wrapper {
  position: fixed;
  inset: 0;
  background-color: var(--bg-color);
  height: 100vh;
  width: 200px;
  z-index: 999;
  transform: translateX(-100%);
  transition: 0.9s;
}

.mobile-wrapper--open {
  transform: translateX(0);
  transition: 0.9s;
}

.mobile-wrapper .mobile-inner {
  padding: 20px;
  align-items: center;
  /* height: 60%;
  display: flex; */
  margin: 40px 0 0 0;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.menu-color {
  margin: 20px 0 0 0;
}

.menu-color li a {
  font-size: 12px;
  line-height: 3;
  transition: 0.5s;
  border-bottom: solid 1px #fff;
}

.mobile-sec {
  display: none;
}

.desktop-sec {
  display: block;
}
.menu-btn button {
  border-radius: 9px;
  background-color: var(--bg-color);
  width: 98px;
  color: #fff;
  height: 42px;
  display: flex;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 768px) {
  .mobile-sec {
    display: block;
  }

  .desktop-sec {
    display: none;
  }

  .about-us-contain {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    margin: 0px;
  }

  .about-img {
    width: 100%;
  }

  .about-us-text {
    width: 100%;
  }

  .banner-sec-contain img {
    height: 400px;
  }

  .about-us > .container h2 {
    font-size: 36px;
    font-weight: 700;
    color: var(--bg-color);
    text-align: center;
    margin-bottom: 20px;
  }

  .d-flex-contact {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .form-contorl {
    width: 100%;
  }

  .contact-us-sec .inner-block {
    padding: 20px;
  }

  .fotter-inner {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}





.caption {
  padding: 10px;
  text-align: center;
  font-size: 14px;
  color: #555;
}

.my-button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 13px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  margin: 10px 20px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button.my-button {
  background-color: #000; /* Blue background */
  color: white; /* White text */
}
